body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    height: 100vh;
    color: white;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 890px;
    color: white;
    font-size: 48px;
    z-index: 1000;
    pointer-events: none;
    text-shadow: 2px 2px 24px rgba(0, 0, 0, 0.5);
}

h1 {
    color: white;
    font-size: 64px;
    line-height: 1.2;
    font-family: 'Safiro', sans-serif;
    margin-bottom: 16px;
}

button {
    background: rgba(10, 10, 10, 0.4);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 2px solid white;
    color: white;
    padding: 12px 24px;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    border-radius: 9999px;
    cursor: pointer;
    width: fit-content;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.1s ease;
}

button:active {
  transform: scale(0.97);
  background: rgba(255, 255, 255, 0.1);
}

button svg {
  fill: currentColor;
  transition: transform 0.2s ease;
}

button:hover svg {
  transform: translateX(4px);
}

.image-container {
    position: relative;
    height: 100vh;
    width: 100vw;

}

.moving-image {
    width: 500px;
    height: 500px;
    position: absolute;
    transition: opacity 0.5s ease;
    object-fit: cover;
    border-radius: 1000px;
}